# OS generated s**t #
#####################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.~lock*


# Eclipse #
###########
/RemoteSystemsTempFiles
/.metadata


# Backup files #
################
*~
*.old
*.bak
*.new
*.orig
*.save


# Precompiled Headers #
#######################
*.gch
*.pch


# Compiled source #
###################
*.a
*.class
*.com
*.dll
*.dylib
*.elf
*.exe
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.slo
*.so


# Packages and archives #
#########################
*.7z
*.bz2
*.deb
*.dmg
*.gz
*.iso
*.jar
*.lz2
*.rar
*.rpm
*.tar
*.tbz
*.tbz2
*.tgz
*.xz
*.zip


# Logs and databases #
######################
*.log
*.sqlite
